# Игнорировать секреты Streamlit
.streamlit/secrets.toml

# На всякий случай игнорировать всю папку с локальными настройками (если там нет других нужных файлов)
# .streamlit/

# Игнорировать виртуальное окружение и кэш Python
__pycache__/
*.pyc
.env
venv/
.venv/
